<div class="container" id="log-header" *ngIf="(project!=null) && (session!=null)">
  <div class="row">
    <div class="seven columns">
      <h2>Session Log</h2>
      <ul class="breadcrumb">
        <li><a [routerLink]="['/']">Projects</a></li>
        <li><a [routerLink]="['/project',project.id]">{{project.name}}</a></li>
        <li><a [routerLink]="['/project',project.id]">Sessions</a></li>
        <li><a [routerLink]="['/project',project.id,'session',session.id]">{{session.name}}</a></li>
      </ul>
    </div>
    <div class="five columns">
          <ul id="log-menu">
            <li [routerLink]="['/project',project.id]" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">Sessions</li>
            <li>Events</li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" [routerLink]="['/project',project.id,'settings']">Settings</li>
          </ul>
        </div>
  </div>
</div>
<div class="container" *ngIf="project!=null && (session!=null)">
  <div class="row">
    <div class="twelve columns" id="page">
      <div class="row project-log">
        <div class="four columns" id="logview-settings">
          <div class="row" id="tabs">
            <div class="six columns tab" [ngClass]="{active: currentTab==0}"
            (click)="currentTab=0">Filter</div>
            <div class="six columns tab" [ngClass]="{active: currentTab==1}"
            (click)="currentTab=1">Info</div>
          </div>
          <div class="row tabsContent">
            <div class="twelve columns">
              <h3>Log Levels</h3>
              <p-checkbox name="filterLevel" value="TRACE" label="TRACE"
              [(ngModel)]="filteredLevels"></p-checkbox>
              <p-checkbox name="filterLevel" value="DEBUG" label="DEBUG"
              [(ngModel)]="filteredLevels"></p-checkbox>
              <p-checkbox name="filterLevel" value="INFO" label="INFO"
              [(ngModel)]="filteredLevels"></p-checkbox>
              <p-checkbox name="filterLevel" value="WARN" label="WARN"
              [(ngModel)]="filteredLevels"></p-checkbox>
              <p-checkbox name="filterLevel" value="ERROR" label="ERROR"
              [(ngModel)]="filteredLevels"></p-checkbox>
              <h3>Date</h3>
              <ng2-datepicker [options]="options" [(ngModel)]="filterTime" #cal></ng2-datepicker>
            </div>
          </div>
        </div>
        <div class="eight columns">
          <div id="logs" (scroll)="onScroll($event)" #logs>
            <div class="mm" [ngClass]="[getLogLevel(m)]" *ngFor="let m of getLog(monitoringMessages)">
              <span>{{getTimeStamp(m)}}</span> -
              <span>{{getLogLevel(m)}}</span> -
              [<span>{{getFunctionName(m)}}</span>: line
              <span>{{getLineNumber(m)}}</span>] -
              <span>{{getMessage(m)}}</span>
            </div>
          </div>
          <div id="search">
            <div class="row">
              <div class="nine columns"><input type="text" placeholder="Enter your search query ..."></div>
              <div class="three columns"><button>Search</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
